.title {
  text-align: center;
  font-size: 3rem;
  font-family: pokeLight;
  font-weight: bold;
  color: var(--clr-accent-100);    
  margin-bottom: 4rem;
}

.cards .card {
  transition: opacity 0.5s ease-in,
              scale 0.5s ease-in;
}

.cards:has(.card:hover) .card:not(:hover) {
  scale: .8;
  opacity: .7;
}