@font-face {
  font-family: "PokeLight";
  src: url("./assets/fonts/Pokemon-Hollow.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PokeDark";
  src: url("./assets/fonts/Pokemon-Solid.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/Roboto-Regular.ttf") format("truetype"),
    url("./assets/fonts/Roboto-Medium.ttf") format("truetype"),
    url("./assets/fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

a, a:visited, a:hover, a:active {
  color: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

ul {
  margin: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  font-family: "Roboto";  
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a {
  text-decoration: none;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select,
h1,
h2,
h3,
h4,
h5 {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

:root {
  --clr-primary: #ef5350;

  --clr-accent-100: #0072ec;
  --clr-accent-200: #fffd6aed;
  --clr-accent-300: #fffd6a8f;
  
  --clr-neutral-100: #fbfbfb;
  --clr-neutral-200: #263238;  

  --type-normal: #A8A878;
  --type-fire: #F08030;
  --type-water: #6890F0;
  --type-grass: #78C850;
  --type-electric: #F8D030;
  --type-ice: #98D8D8;
  --type-fighting: #C03028;
  --type-poison: #A040A0;
  --type-ground: #E0C068;
  --type-flying: #A890F0;
  --type-psychic: #F85888;
  --type-bug: #A8B820;
  --type-rock: #B8A038;
  --type-ghost: #705898;
  --type-dark: #705848;
  --type-dragon: #7038F8;
  --type-steel: #B8B8D0;
  --type-fairy: #F0B6BC;

}


/* Utility */

.w-100 {
  width: 100%;
}

.container {
  margin-block: 1rem;
  margin-inline: auto;  
  max-width: calc(100% - 80px);  
  margin-left: 5rem;
  min-height: calc(100vh -83px);
  width: 100%;
}

.grid-content-container {
  display: grid;
  gap: 0.75rem;
  grid-template-columns: repeat(auto-fit, var(--default-width, 300px));
  justify-content: center;
  align-content: center;
  margin-inline: auto;
  width: 100%;  
  height: 100%;
  max-width: var(--max-width, 60rem);
}

.align-self-center {
  align-self: center;
}

.flow > * + * {
  margin-top: var(--flow-gap, 1rem);
}

.flow-horizontal > * + * {
  margin-left: var(--flow-horizontal-gap, 1rem);
}

.padding-2 {
  padding: 2rem;
}

.padding-inline-2 {
  padding-inline: 2rem;
}

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-center {
  display: flex;
  align-items: center;
}

.flex-center-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-center-beetween {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.gap {  
  gap: var(--gap-size, 1rem);
}

.ff-poke-black {
  font-family: "PokeDark"
}

.ff-poke-light {
  font-family: "PokeLight"  
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-decoration-none {
  text-decoration: none;
}

.text-primary {
  color: var(--clr-primary);
}

.text-accent-100 {
  color: var(--clr-accent-100);
}

.text-accent-200 {
  color: var(--clr-accent-200);
}

.text-neutral-100 {
  color: var(--clr-neutral-100);
}

.text-neutral-200 {
  color: var(--clr-neutral-200);
}

.text-uppercase {
  text-transform: uppercase;
}

.text-capitalize {
  text-transform: capitalize;
}

.bg-primary {
  background-color: var(--clr-primary);
}

.bg-accent-100 {
  background-color: var(--clr-accent-100);
}

.bg-accent-200 {
  background-color: var(--clr-accent-200);
}

.bg-neutral-100 {
  background-color: var(--clr-neutral-100);
}

.bg-neutral-200 {
  background-color: var(--clr-neutral-200);
}

.bg-type-normal {
  background-color: var(--type-normal);
}
.bg-type-fire {
  background-color: var(--type-fire);
}
.bg-type-water {
  background-color: var(--type-water);
}
.bg-type-grass {
  background-color: var(--type-grass);
}
.bg-type-electric {
  background-color: var(--type-electric);
}
.bg-type-ice {
  background-color: var(--type-ice);
}
.bg-type-fighting {
  background-color: var(--type-fighting);
}
.bg-type-poison {
  background-color: var(--type-poison);
}
.bg-type-ground {
  background-color: var(--type-ground);
}
.bg-type-flying {
  background-color: var(--type-flying);
}
.bg-type-psychic {
  background-color: var(--type-psychic);
}
.bg-type-bug {
  background-color: var(--type-bug);
}
.bg-type-rock {
  background-color: var(--type-rock);
}
.bg-type-ghost {
  background-color: var(--type-ghost);
}
.bg-type-dark {
  background-color: var(--type-dark);
}
.bg-type-dragon {
  background-color: var(--type-dragon);
}
.bg-type-steel {
  background-color: var(--type-steel);
}
.bg-type-fairy {
  background-color: var(--type-fairy);
}

.fw-bold {
  font-weight: bolder;
}

.fw-semi-bold {
  font-weight: bold;
}

.pointer {
  cursor: pointer;
}