.top-bar {
  border-bottom: 2px solid var(--clr-accent-100);
  position: sticky;
  top: 0;
  z-index: 2;
}

.container {  
  padding-inline: 1rem;  
  width: 100%;
  max-width: 100rem;  
}

.logo {
  width: 2.5rem;
  height: auto;  
}

