.top-bar {  
  position: sticky;
  top: 0;
  z-index: 2;
  padding-block: 0.35rem;
}

.container {  
  padding-inline: 1rem;  
  width: 100%;
  max-width: 100rem;  
}

.logo {
  width: 2.5rem;
  height: auto;  
}



@media (max-width: 768px) {  
  .container {
    justify-content: center;
    flex-direction: column;
  }
  
  .icons-cred {
    font-size: 0.6rem;
  }
}
